@model IEnumerable<BrandModel>
@{
    ViewData["title"] = "Hiển thị NXB";
}
<h4>Danh sách Nhà xuất bản</h4>
<a asp-action="Create" asp-controller="Brand">Thêm NXB mới</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên thương hiệu NXB</th>
            <th scope="col">Giới thiệu</th>
            <th scope="col">Slug</th>
            <th scope="col">Trạng thái (danh mục)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>

                <td>@item.Slug</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text-area text-success">Đang hiển thị</span>
                    }
                    else
                    {
                        <span class="text-area text-success">Đang ẩn</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="Brand" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="Delete" asp-controller="Brand" asp-route-Id="@item.Id" class="btn btn-danger btn-sm confirmImportantDeletion">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>